@{
    ViewBag.Title = "Home Page";
}




<link href="~/Content/css/Style.css" rel="stylesheet" />

<!-- Banner Start -->
<div class="bannercontainer">
    <div class="background-overlay">
        <div class="content">
            <h1 class="banner-title">Check Your Carbon</h1>
            <h1 class="banner-title" style="padding-top:2px;">Footprint</h1>
            <div class="button">
                @*<a id="" href="">Start Quiz <i class="fas fa-arrow-right"></i></a>*@
                <a id="" href="@Url.Action("SelectCategory", "Category")">Start Quiz <i class="fas fa-arrow-right "></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Banner End -->
<!-- About Website open -->
<div class="container-fluid mt-5">
    <div class="container-fluid pl-5">
        <div class="reversediv row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center ">
                <img src="~/Content/Images/Products/Bulb.png" alt="" class="img-fluid">
            </div>

            <div class="Aboutdiv col-lg-6 col-md-6 col-sm-12 d-flex align-items-center ">
                <div class="text">
                    <div>
                        <img src="~/Content/Images/Products/Line.png" alt="Line Image" class="Line1-image">
                    </div>
                    <div class="punch-line">
                        <h2 class="T1"><span class="T2">Reducing the Carbon</span> Footprint of Our Homes</h2>
                    </div>
                    <div class="">
                        <p class="Aboutwebsite">
                            Energy bills are set to skyrocket in the coming years. According to a report by the National Renewable Energy Laboratory,
                            the implementation of a carbon tax in the United States could increase electricity prices by up to 50%. Reducing the carbon
                            footprint of our homes is critical.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Website close -->
<!-- Transforming start -->
<!-- Section 2 - Transforming -->
<div class="container-fluid mt-5" style="background: rgba(80, 160, 213, 0.10);">
    <div class="text-center p-5 pb-0">
        <h1 class="Transforming-heading">Transforming Your Home into an Eco-Friendly Haven</h1>
    </div>
    <div class="container-fluid p-30 pt-2">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4">
            <div class="my-card col-xxl-3 col-xl-3 col-md-4 col-sm-6 col-12 my-3">
                <div class="card" style="height: 520px;">
                    <a href=""><img src="~/Content/Images/Products/House Counstruction.png" class="card-img-top" alt="hatchback"></a>
                    <div class="card-body">
                        <h5 class="card-title">Upgrade Your Insulation for Maximum Savings</h5>
                        <p class="card-text">Enhance your home's energy efficiency and reduce your energy bills with insulation. On average, improving insulation can cut energy usage by 15% to 30%. On average, a whole house battery system can save homeowners approximately 20% to 40% on their energy bills. <span class="card-text2">learn more.</span></p>
                    </div>
                </div>
            </div>
            <div class="my-card col-xxl-3 col-xl-3 col-md-4 col-sm-6 col-12 my-3">
                <div class="card" style="height: 520px;">
                    <a href=""><img src="~/Content/Images/Products/Soloar Panel.png" class="card-img-top" alt="hatchback"></a>
                    <div class="card-body">
                        <h5 class="card-title">Energise Your Savings and the Environment</h5>
                        <p class="card-text text-wrap">Discover how Solar power offers a reliable and renewable source of electricity, eliminating the dependence on traditional energy grids and their rising costs. On average, a whole house battery system can save homeowners approximately 20% to 40% on their energy bills. <span class="card-text2">learn more.</span></p>
                    </div>
                </div>
            </div>
            <div class="my-card col-xxl-3 col-xl-3 col-md-4 col-sm-6 col-12 my-3">
                <div class="card" style="height: 520px;">
                    <a href=""><img src="~/Content/Images/Products/Money.png" class="card-img-top" alt="hatchback"></a>
                    <div class="card-body">
                        <h5 class="card-title">Check power saving incentives here</h5>
                        <p class="card-text">
                            Click the link for resources and information on energy efficiency programs, tax credits, grants , and other incentives available at federal level can be found  <span class="card-text2"><a href="https://www.energystar.gov/about/federal_tax_credits/federal_tax_credit_archives/2022_tax_credit_information" target="_blank">click here</a></span>

                            </span>
                            <br>Check your local utility providers for energy-saving programs
                        </p>
                    </div>
                </div>
            </div>
            <div class="my-card col-xxl-3 col-xl-3 col-md-4 col-sm-6 col-12 my-3">
                <div class="card" style="height: 520px;">
                    <a href=""><img src="~/Content/Images/Products/House Ready.png" class="card-img-top" alt="hatchback"></a>
                    <div class="card-body">
                        <h5 class="card-title">Exploring a whole house battery</h5>
                        <p class="card-text">A whole house battery allows you to harness renewable energy, reducing reliance on fossil fuels and contributing to a greener future. It offers the freedom of uninterrupted power, even during outages, providing energy independence and reliability. On average, a whole house battery system can save homeowners approximately 20%. <span class="card-text2"><a href="https://www.amazon.com/EF-ECOFLOW-Portable-Charging-Generator/dp/B0B9XB57XM?crid=1VTWKX7MU7HH6&keywords=whole%2Bhome%2Bbatteries&language=en_US&linkCode=sl1&linkId=074b58c22ee89a0dd0abd9f331983f9d&qid=1700767866&ref_=as_li_ss_tl&sp_csd=d2lkZ2V0TmFtZT1zcF9idGY&sprefix=whole%2Bhome%2Bbatteries%2Caps%2C230&sr=8-22-spons&tag=co2homesaver-20&th=1&ufe=app_do%3Aamzn1.fos.17d9e15d-4e43-4581-b373-0e5c1a776d5d" target="_blank">click here</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Transforming close -->
<!-- Add Bootstrap JS and jQuery scripts (required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Transforming End -->
<!-- Transforming End -->
<!-- Who We Are Start-->

<div class="container mt-4" id="about">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <img src="~/Content/Images/Products/Line.png" alt="Line Image" class="Line2-image">
            <h1 class="WhoWeare-Heading text-center">WHO WE ARE</h1>

            <div>

                <p class="WhoWeare-Paragraph centered-paragraph">
                    Co2HomeSaver was developed for individuals seeking ways to reduce their carbon footprints, reduce their bills, and contribute to a greener future.
                    <a href="javascript:void(0);" id="see-more-link" onclick="toggleMoreText(true);">See more</a>
                </p>
                <p id="more-text" class="WhoWeare-Paragraph2">
                    Our comprehensive approach to assessing and improving home energy efficiency helps individuals meet the demand for actionable solutions to minimize personal economic and environmental impact.
                    <a href="javascript:void(0);" id="see-less-link" style="display: none;" onclick="toggleMoreText(false);">See less</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Who We Are End-->


<script>
    function toggleMoreText(showMore) {
        var moreText = document.getElementById("more-text");
        var seeMoreLink = document.getElementById("see-more-link");
        var seeLessLink = document.getElementById("see-less-link");

        if (showMore) {
            moreText.style.display = "block";
            seeMoreLink.style.display = "none";
            seeLessLink.style.display = "inline";
        } else {
            moreText.style.display = "none";
            seeMoreLink.style.display = "inline";
            seeLessLink.style.display = "none";
        }
    }
</script>